<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8" http-equiv="Access-Control-Allow-Origin" content="*">
    <title>layui</title>
    <link href="favicon.ico" rel="shortcut icon">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <form class="layui-form" action="">
        <div class="layui-inline">
            <label class="layui-form-label">日期</label>
            <div class="layui-input-inline">
                <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">查看</button>
            </div>
        </div>
    </form>
</div>
<script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.0/base64.min.js"></script>
<script type="text/javascript" src="../lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script>
    layui.use(['form','laydate'], function(){
        var form = layui.form;
        var laydate = layui.laydate;
        laydate.render({
            elem: '#date' // 绑定元素的id
            ,theme: '#393D49' // 自定义主题颜色
            ,calendar: true // 显示公历节假日
            ,format: 'yyyy-MM-dd'
        });
        form.on('submit(demo1)', function () {
            var date=$("#date").val();
            var index = layer.open({
                title: '日志',
                type: 2,
                shade: 0.2,
                maxmin:true,
                shadeClose: true,
                area: ['100%', '100%'],
                content: "datething.html?date="+date
            });
            $(window).on("resize", function () {
                layer.full(index);
            });
            return false;
        });
    });
</script>
</body>
</html>
