<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>权限管理</title>
    <meta name="keywords" content="layuimini,layui,layui模板,layui后台,后台模板,admin,admin模板,layui mini">
    <meta name="description" content="layuimini基于layui的轻量级前端后台管理框架，最简洁、易用的后台框架模板，面向所有层次的前后端程序,只需提供一个接口就直接初始化整个框架，无需复杂操作。">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/layuimini.css?v=2.0.4.2" media="all">
    <link rel="stylesheet" href="../css/themes/default.css" media="all">
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../lib/layui_ext/dtree/dtree.css">
    <link rel="stylesheet" href="../lib/layui_ext/dtree/font/dtreefont.css">
    <link rel="stylesheet" href="..">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style id="layuimini-bg-color">
    </style>
</head>
<body class="layui-layout-body layuimini-all">
<div style="height: 550px;overflow: auto;" id="toolbarDiv">
    <ul id="demoTree" class="dtree" data-id="0"></ul>
    <div class="layui-form-item">
        <button class="layui-btn" lay-submit="" lay-filter="demo3">查看并修改权限</button>
        <button class="layui-btn" lay-submit="" lay-filter="demo1">设置多人权限</button>
        <button class="layui-btn" lay-submit="" lay-filter="demo2">加入本组</button>
    </div>
</div>
<script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="../js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<script>
    layui.extend({
        dtree: '../layui_ext/dtree/dtree'
    }).use(['jquery', 'layer', 'dtree', 'form'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            dtree = layui.dtree,
            form = layui.form
        // 初始化树
        var DTreeNode = dtree.render({
            width: "420",
            elem: "#demoTree",
            url: "prodata", // 使用url加载（可与data加载同时存在）
            checkbar: true,
            checkbarType: "all",
            // initLevel: "1",
            // icon:'2',
            toolbar:true,
            toolbarShow:["delete"],
            toolbarWay:"fixed", // "contextmenu"：右键菜单（默认），"fixed"："固定在节点后","follow"："跟随节点动态呈现"
            toolbarFun:{
                delTreeNode: function(treeNode, $div){
                    $.ajax({
                        type: "post",
                        data: treeNode,
                        url: "removegroup",
                        success: function(result){
                            if(result==1)
                                layer.msg("成功移除本组");
                            else
                                layer.msg("移除失败");
                            //DTree1.changeTreeNodeDel(true); // 删除成功
                        },
                        error: function(){
                            //DTree1.changeTreeNodeDel(false);// 删除失败
                        }
                    });
                },
                loadToolbarBefore: function(buttons, param, $div){
                    console.log(buttons);
                    console.log(param);
                    console.log($div);
                    if(param.leaf){ // 如果是叶子节点
                        buttons.addToolbar = "";  // 取消新增功能
                    }
                    if(param.level == 1)
                        buttons.delToolbar = "";
                    return buttons; // 将按钮对象返回
                }
            },
            menubar:true,
            menubarTips:{
                group:["moveDown", "moveUp", "refresh", "checkAll", "unCheckAll","invertAll","searchNode"]
            }
        });
        form.on('submit(demo1)', function () {
            var nodeid = [];
            var params = DTreeNode.setAndGetCheckbarNodesParam(false);
            if(params && params.length > 0) {
                for(var i=0; i<params.length; i++) {
                    var param = params[i];
                    if(param["level"] == 2)
                        nodeid.push(param["nodeId"]);
                }
            }
            var DTree = null;
            layer.open({
                type: 1, //type:0 也行
                title: "文件夹/下载/预览/删除",
                area: ["400px", "80%"],
                content: '<ul id="openTree3" class="dtree" data-id="0"></ul>',
                btn: ['确认选择'],
                success: function(layero, index){
                    DTree = dtree.render({
                        obj: $(layero).find("#openTree3"),
                        url: "prodata2",
                        checkbar: true, // 开启复选框
                        checkbarType: "self", // 默认就是all，其他的值为： no-all  p-casc   self  only
                        menubar:true,
                        menubarTips:{
                            group:["moveDown", "moveUp", "refresh", "checkAll", "unCheckAll","invertAll","searchNode"]
                        }
                    });
                },

                yes: function(index, layero) {
                    var flag = true;
                    var param1 = dtree.getCheckbarNodesParam("openTree3"); // 获取选中值
                    if(param1.length == 0){
                        layer.msg("请至少选择一个节点",{icon:2});
                        flag = false;
                    }
                    // 获取复选框数组数据
                    var dirid = [];
                    var datatype = [];
                    if(param1 && param1.length > 0) {
                        for(var i=0; i<param1.length; i++) {
                            var param0 = param1[i];
                            dirid.push(param0["nodeId"]);
                            datatype.push(param0["dataType"]);
                            // if(!dirid.has(param0["nodeId"]))
                            //     dirid.set(param0["nodeId"],param0["dataType"])
                            // else
                            //     dirid[param0["nodeId"]]=dirid.get(param0["nodeId"])+param0["dataType"];
                        }
                    }
                    $.ajax({
                        type : "POST",
                        url : "prochange",
                        data : {"dirid":dirid,"datatype":datatype,"nodeid": nodeid},
                        success : function(result) {
                            layer.msg("修改成功");
                        }
                    });
                    if(flag){
                        layer.close(index);
                    }
                }
            });
        });
        form.on('submit(demo2)', function () {
            var nodeid = [];
            var params = DTreeNode.setAndGetCheckbarNodesParam(false);
            if(params && params.length > 0) {
                for(var i=0; i<params.length; i++) {
                    var param = params[i];
                    if(param["level"] == 2)
                        nodeid.push(param["nodeId"]);
                }
            }
            $.ajax({
                type : "POST",
                url : "inmygroup",
                data : {"nodeid": nodeid},
                success : function(result) {
                    layer.msg("修改成功");
                }
            });
        });
        form.on('submit(demo3)', function (index) {
            var nodeid =[];
            var flag1 = false;
            var params = DTreeNode.setAndGetCheckbarNodesParam(false);
            if(params && params.length == 2) {
                for(var i=0; i<params.length; i++) {
                    var param = params[i];
                    if(param["level"] == 2)
                        nodeid.push(param["nodeId"]);
                }
            }
            else
            {
                layer.msg("只能选择一个人",{icon:2});
                flag1 = true;
            }
            if(flag1){
                layer.close(index);
            }
            else
                layer.msg("ok",{icon:2});
            var DTree = null;
            layer.open({
                type: 1, //type:0 也行
                title: "文件夹/下载/预览/删除",
                area: ["400px", "80%"],
                content: '<ul id="openTree3" class="dtree" data-id="0"></ul>',
                btn: ['确认选择'],
                success: function(layero, index){
                    DTree = dtree.render({
                        obj: $(layero).find("#openTree3"),
                        url: "prodata3",
                        request : {"nodeid": nodeid},
                        checkbar: true, // 开启复选框
                        checkbarType: "self", // 默认就是all，其他的值为： no-all  p-casc   self  only
                        menubar:true,
                        menubarTips:{
                            group:["moveDown", "moveUp", "refresh", "checkAll", "unCheckAll","invertAll","searchNode"]
                        }
                    });
                },

                yes: function(index, layero) {
                    var flag = true;
                    var param1 = dtree.getCheckbarNodesParam("openTree3"); // 获取选中值
                    if(param1.length == 0){
                        layer.msg("请至少选择一个节点",{icon:2});
                        flag = false;
                    }
                    // 获取复选框数组数据
                    var dirid = [];
                    var datatype = [];
                    if(param1 && param1.length > 0) {
                        for(var i=0; i<param1.length; i++) {
                            var param0 = param1[i];
                            dirid.push(param0["nodeId"]);
                            datatype.push(param0["dataType"]);
                        }
                    }
                    $.ajax({
                        type : "POST",
                        url : "prochange1",
                        data : {"dirid":dirid,"datatype":datatype,"nodeid": nodeid},
                        success : function(result) {
                            layer.msg("修改成功");
                        }
                    });
                    if(flag){
                        layer.close(index);
                    }
                }
            });
        });
    });
</script>
</body>
</html>
